/*全局样式*/
.mui-content{
  background-color: #fcfcfc;
}
body{
  background-color: #F7F8FA;
}
.mui-scroll-body{
  overflow: hidden;
}
/* 页签中包括下拉框部分样式 */
.label-div-select{
  text-align: center;
  padding: 10px 0px;
  font-size: 14px;
}
.label-div-select-item{
  color: #868686;
}
.label-div-select.active .label-div-select-item{
  color: #FF7623;
}

/* 页签部分样式 */
.label-div{
  text-align: center;
  padding: 12px 0px;
}
.label-div-item{
  padding: 8px 14px;
  border-radius: 16px;
  font-size: 14px;
  color: #868686;
  letter-spacing: 0;
}
.label-div.active .label-div-item{
  background-image: -webkit-linear-gradient(to right, #ff7626, #ffab68);
  background-image: linear-gradient(to right,#ff7626,#ffab68);
  box-shadow: 0 8px 25px 0 rgba(255,160,112,0.37);
  color: white;
}
/*修改mui的一些默认样式*/
._mui-scroll-wrapper{
  overflow: auto;
  top: 45px;
}
/*审批详情中 底部按钮样式*/
.bottom-45{
  bottom: 50px;
}
.div-flex {
  display: flex;
  justify-items: center;
  margin: 10px auto;
}
.div-flex .btn-action {
  width: 50%;
  text-align: center;
  line-height: 30px;
}
.div-flex .btn-action:first-child {
  font-size: 16px;
  color: #41BDC7;
  border-right: 1px dashed #dbdbdb;
}

.div-flex .btn-action:last-child {
  font-size: 16px;
  color: #FF7323;
}

/*审批详情 基本信息*/
.detail-content{
  padding: 10px 10px 5px 10px;
}
.list-base-information-chunk{
  box-shadow: 0 4px 12px 0 rgba(39,52,56,0.08);
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
}
.list-base-information {
  position: relative;
  display: flex;
  font-size: 14px;
  line-height: 50px;
  padding: 0px 10px;
  justify-content: space-between;
}
.list-base-information:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.list-base-information .list-item-left {
  display: inline-block;
  color: #333;
}
.list-base-information .list-item-right {
  text-align: right;
  color: #666;
}
.list-base-information .list-item-right div{
  max-width: 200px;
  overflow: hidden;
}
.list-base-information .list-item-right input{
  font-size: 12px;
  color: #a3a3a3;
  min-width: 160px;
}

.list-title {
  height: 30px;
  line-height: 25px;
  color:#666;
  background-color: #f7f8fa;
  font-size: 14px;
}

/* 查询更多输入行样式 */
.search-more-information {
  justify-content: left;
}
.search-more-information .list-item-left {
  width: 26%;
}
.search-more-information .list-item-right {
  width: 73%;
  text-align: left;
}
.search-more-information .list-item-right input {
  border: none;
  font-size: 14px;
  color: #333;
  width: 95%;
  line-height: 30px;
}
.search-more-information .list-item-right input::placeholder {
  color: #7f7e7e;
  font-size: 13px;
}
.search-more-information .list-item-right input::-moz-placeholder {
  color: #7f7e7e;
  font-size: 13px;
}
.search-more-information .list-item-right input::-webkit-input-placeholder {
  color: #7f7e7e;
  font-size: 13px;
}
.search-more-information .list-item-right input:-ms-input-placeholder {
  color: #7f7e7e;
  font-size: 13px;
}

.placeHolder {
  font-size: 14px;
  color: #7d7c7c;
}

/* 表格样式 */
.table-font{
  padding: 14px 05px;
  text-align: center;
  word-wrap:break-word ;
}
.table-font-title{
  color: #333;
  font-size: 14px;
  background-color:#F9EADE;
}
.table-font-content{
  color: #666;
  font-size: 12px;
}
.table-font-content:nth-child(odd){
  background-color:#F9F9F9;
}

.mui-row-list{
  /*border-bottom: 1px solid #eee;*/
}
